
<ng-include src="'static/app/participantDetail/participantDetailHeader.html'">
</ng-include>

<div class="row participant-messages">
  <div class="col-md-8">

    <div class="btn-group btn-group-justified" id="msg-list-btn-group">
      <mw-action-btn mw-icon="mw-comment" mw-style="success" ng-click="openSendModal()">
        Send Msg
      </mw-action-btn>
      <mw-action-btn mw-icon="mw-mobile-1" mw-style="highlight" ng-click="openPhoneModal()">
        Call Log &nbsp;&nbsp; <span class="badge">{{participant.phonecall_count}}</span>
      </mw-action-btn>
    </div>

    <div class="message-list">
      <mw-message
        message="msg"
        participant="participant"
        open-send-modal-fn="openSendModal"
        ng-repeat="msg in messages | orderBy:'created':true"
        class="clearfix">
      </mw-message>

    <div ng-if="messages.length < participant.message_count">
      <a class="btn btn-lg btn-info col-md-4 col-md-offset-4" tooltip="Load all messages" ng-click="loadMessages()">
        Load All Messages
        <i class="mw mw-comment"></i>
      </a>
    </div>

    </div>

  </div>

  <div class="col-md-4">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Participant Details: <strong>{{participant.display_name}}</strong>
          <span class="pull-right pointer badge" tooltip="Edit Details" ng-click='openModifyModel()'>
             Edit <i class="mw mw-pencil"></i>
          </span>
        </h3>
      </div>

      <ng-include src="'static/app/participantDetail/participantDetailTable.html'">
      </ng-include>
    </div>

    <div ng-switch on="participant.visits.length" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Clinic Visits and History</h3>
      </div>

      <table class="table table-condensed text-center"><tr>
      <td><a class="btn btn-info" tooltip="Schedule new visit for {{participant.display_name}}" ng-click="scheduleVisit()">
        <i class="mw mw-2x mw-hospital-o"></i>
      </a></td>

      <td><a class="btn btn-info" tooltip="{{participant.display_name}} visit history" ng-click="showVisitHistory()">
        <i class="mw mw-2x mw-clock"></i>&nbsp; Visit History
      </a></td>

      <td ng-hide="participant.delivery_date"><a class="btn btn-info" tooltip="{{participant.display_name}} delivered" ng-click="recordDelivery()">
        <i class="mw mw-2x mw-baby-noun"></i>
      </a></td>

      </tr></table>

      <table ng-switch-default class="table table-condensed table-striped text-center">
          <thead>
            <th>Date</th>
            <th>Type</th>
            <th>When</th>
          </thead>
          <tbody>
          <tr ng-repeat="visit in participant.visits | orderBy : 'scheduled'">
            <td>{{visit.scheduled}}</td>
            <td>{{visit.visit_type_display}}</td>
            <td>{{visit.days_str}}</td>
            <td><button class='btn btn-info btn-sm' ng-click='visitAttended(visit)'
                tooltip="{{participant.display_name}} came for this visit">Attended</button></td>
            <td><button class='btn btn-danger btn-sm' ng-click='visitDelete(visit)' tooltip='Delete Visit'>Del <i class="mw mw-cancel-circled"></i></button></td>
            <td><button class='btn btn-danger btn-sm' ng-click='visitEdit(visit)' tooltip="Edit visit" >
              Edit <i class="mw mw-pencil"></i>
            </button></td>
          </tr>
        </tbody>
      </table>

      <h3 ng-switch-when='0'>No Scheduled Visits</h3>
  </div>

  <div class='panel panel-info'>
    <div class='panel-heading'>
      <div class='panel-title'>Other Actions</div>
    </div>

    <div class='panel-body'>
      <button class='btn btn-info' tooltips='Notes for {{participant.display_name}}' ng-click='viewNotes()'>
        Notes <span class='badge'>{{participant.note_count}}</span>
      </button>

      <button ng-show="participant.active === 'active'" class="btn btn-danger"
        tooltip="Stop messaging for {{participant.display_name}}" ng-click="stopMessaging()">
        Stop
      </button>
      <button ng-show="participant.active === 'sms' || participant.active === 'preg'" class="btn btn-danger"
        tooltip="Start messaging for {{participant.display_name}}" ng-click="stopMessaging()">
        Activate
      </button>
    </div>

  </div>

</div>
</div>
